<SCRIPT LANGUAGE = "JavaScript">
            function start() {
                var a = new Array(10, 3, 6, 0, 9, 3, 5);
                
                document.writeln( "<H1>Function of Array</H1>" );
                outputArray( "Data items in original order: ", a );
                var pop = a.pop();
                outputArray( "Data items after pop: ", a );
                document.writeln( "<p>Pop value: " + pop + "</p>" );
                var shift = a.shift();
                outputArray( "Data items after shift ", a );
                document.writeln( "<p>shift value: " + shift + "</p>" );
                var slice = a.slice(3, 5);
                outputArray( "Data items after slice ", a );
                outputArray( "Data items of slice ", slice);
                var splice = a.splice(5, 3);
                outputArray( "Data items after splice ", a );
                outputArray( "Data items of splice ", splice);
            }
            function outputArray(header, theArray) {
                document.writeln("<P>" + header + theArray.join(" ")+ "</P>");
            }
        </SCRIPT>

        <body onload="start()"></body>