
<% provide(:button_text, t(".create")) %>
<p><%= link_to t(".back"), edit_subject_path(current_subject) %></p>

<div class="container">
	<div class="row">
		<div class="container" style="margin-top:30px">
  <div class="col-md-6 col-md-offset-3">
    <div id="legend">
      <legend class=""><h1><%= t(".title") %></h1></legend>
    </div>

        <%= render "exam_form" %>
  </div>
</div>
</div>
	</div>
</div>